.navbar {
  background-color: #001f3f;
  padding: 8px 50px;
  position: sticky;
  top: 0;
 z-index: 9999;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}


/* 
.nav-cart-icon{
  width: 40px;
  height: 100px;
 
} */

  .btn {
  background-color: #2E8B57;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: 	#1b6f3f;
}



.search-box {
  display: flex;
  height: 35px;
}

.search-box input {
  padding: 10px 0px 10px 20px;
  /* top right bottom left */
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: white;
}

.search-box img {
  width: 40px;
  filter: brightness(0) invert(1);

}


.cart-wrapper {
  position: relative;
  display: inline-block;
}

.nav-cart-icon {
  width: 38px;
  height: 38px;
   filter: brightness(0) invert(1);
}


.cart-count {
  position: absolute;
  top: -6px;           
  right: -8px;         
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 1;
  min-width: 18px;
  text-align: center;
}


@media (max-width:480px) {
  .navbar {
  padding: 10px 20px;


}



.nav-links {
  gap: 10px;
}


.gs-btn{
  border-radius: 2px;
}



.search-box {
  height: 15px;
}

.search-input{
  font-size: 10px;
}


.search-box img {
  width: 20px;

}

.btn {
 
  font-size: 8px;
  font-weight: 400;
  padding: 5px 10px;
 
}
}