.cart-page {
    padding: 40px 0px;
    max-width: 900px;
    margin: auto;
    color: #1e1e1e;


}

.cart-page h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: navy;
}

.cart-page p {
    font-size: 30px;
    text-align: center;

    color: navy;
}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 24px rgba(3, 3, 3, 0.06);
    padding: 20px;
}



.cart-course-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 120px;
    height: 120px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cart-course-card:hover {
    transform: translateY(-5px);
}

.cart-course-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cart-Card-cont {
    padding: 2px;
}

.cart-Card-cont h3 {
    font-size: 10px;
    color: #333;
}



.cart-Card-cont p {
    font-size: 10px;
}

.cart-Card-cont strong {
    font-size: 10px;
    color: #111;
}

.cart-price-standalone {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #1e40af;
}

.cart-price-standalone p {
    font-size: 25px;
}

.remove-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.remove-btn:hover {
    color: #F57C00;
}




.cart-summary {

    transform: translateX(-50%);
    max-width: 900px;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.sticky-summary {

    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1000;

}


.checkout-btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #F57C00;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}