.tutor-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}


.course-form-container{
    max-width: 800px;
    border-radius: 16px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(3, 3, 3, 0.08);
}


.course-form-container h2{
    text-align: center;
    color: navy;
    font-size: 25px;
    margin-bottom: 30px;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input label{
    font-size: 20px;
}
.form-input input{
    padding: 5px 0px;
}